@import "../node_modules/synfrastructure/scss/synfrastructure";

// *******************************************
// *******************************************

    // Styling for the Autocomplete Component

// *******************************************
// *******************************************

.autocomplete {
    margin   : rem-calc(0 0 21 0);
    position : relative;
}

// container for text input
.autocomplete__input-wrapper {
    position : relative;
}

// input element
.autocomplete__input {
    margin : 0 !important;
}

// dropdown section
.autocomplete__dropdown {
    margin-top                 : -2px;
    height                     : 0;
    max-height                 : 0;
    overflow                   : hidden;
    position                   : absolute;
    top                        : 100%;
    left                       : 0;
    right                      : 0;
    z-index                    : 5;
    background                 : $white;
    border-bottom-right-radius : 3px;
    border-bottom-left-radius  : 3px;
    transition                 : max-height .3s $ease-in-out-quad,
                                 height .3s $ease-in-out-quad;

    &.autocomplete__dropdown--visible {
        height     : auto;
        max-height : rem-calc(250);
        overflow-y : scroll;
        border     : 1px solid #ddd;
        box-shadow : 2px 2px 0px rgba(#222, .2);
    }

}

// list of dropdown items
.autocomplete__list {
    @extend .normalize-list;
}

// dropdown item
.autocomplete__item {
    padding   : rem-calc(9 12);
    cursor    : pointer;
    font-size : rem-calc(13);

    // on hover or up / down key select
    &:hover,
    &.autocomplete__item--is-focused {
        background-color : #fefefe;
    }

    // currently selected item
    &.autocomplete__item--is-selected {
        background-color : tint(#222, 75%);
    }

}
