@import "../node_modules/synfrastructure/scss/synfrastructure";

// *******************************************
// *******************************************

    // Styling for the Autocomplete Component

// *******************************************
// *******************************************

.autocomplete {
    position : relative;
}

.autocomplete__input {
    margin : 0;
    border : 1px solid #ededf2;
}

.autocomplete__dropdown {
    position    : absolute;
        right   : 0;
        left    : 0;
        z-index : 3;
    max-height  : 0;
    overflow    : hidden;
    overflow-y  : auto;
    border      : 1px solid transparent;
    transition  : max-height 250ms ease-in-out;
}

.autocomplete__dropdown--visible {
    max-height : rem-calc(250);
    background : #f4f4f4;
    border     : 1px solid #cccccc;
}

.autocomplete__dropdown--top {
    bottom        : 100%;
    margin-bottom : rem-calc(-1);
}

.autocomplete__dropdown--bottom {
    top        : 100%;
    margin-top : rem-calc(-1);
}

.autocomplete__item {
    display    : block;
    padding    : rem-calc(6 9);
    font-size  : rem-calc(13);
    color      : #333333;
    cursor     : pointer;
    transition : color 200ms ease,
                 background 200ms ease;

    &:hover {
        background : #999999;
        color      : #ffffff;
    }
}

.autocomplete__item--selected {
    background : #999999;
    color      : #ffffff;
}
